
*.cache
*.json
*.dll
*.CopyComplete
*.BuildWithSkipAnalyzers
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
*.targets
*.props
obj/Debug/net6.0/CalRemix.AssemblyInfo.cs
obj/Debug/net6.0/CalRemix.csproj.FileListAbsolute.txt
*.editorconfig
*.pdb
*.xml
*.config
.vs/CalRemix/v17/.suo
*.v2
*.v1
*.sln
